@font-face {
    font-family: Letradescargada;
    src: url(/fonts/PermanentMarker-Regular.ttf);
}

@mixin alineartexto {
    text-align: center;
    justify-content: center;
    align-items: center;

}

@mixin alinear {
    align-items: center;
    display: flex;
}

@mixin perrosoverlay {
    position: absolute;
    background: black;
    color: #ffffff;
    display: flex;
    align-items: center;
    transition: opacity 0.25s;
    opacity: 0;
    justify-content: center;
}

@mixin transformoverlay {
    transform: translateY(20px);
    transition: transform 0.25s;

}

$widthandheight: 100px;



header {
    background-color: aquamarine;
    text-align: center;
    box-shadow: 0 0 26px black;
    padding: 34px;


}

li {
    display: inline;
    padding-left: 80px;
}

a {
    position: relative;
    right: 50px;
    color: black;
    text-decoration: none;
    padding: 1px;
    font-family: fantasy;
    font-size: 25px;


}

header li a:hover {
    transform: scale(2, 2);
    color: silver;
    display: inline-block;
    transition: all 1s;
}

.porito image {
    display: flex;
    align-items: center;
    justify-content: center;

}

.tit {
    background-color: rgb(40, 131, 101);
    text-align: center;

}

.descripcion {
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: black;
}

.puppiesbackground {
    background-image: url(./images/puppy-cute-today-180515-main.jpg);

    background-repeat: no-repeat;

}

.lorems {
    font-size: 30px;
    color: aliceblue;
}

.adopcion {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1000px;
    width: 2000px;
    right: 1px;
    height: 400px;

}

.perrosadopcion {
    text-align: center;
    font-size: 70px;
    font-family: letradescargada;
    background-color: bisque
}

.otraspaginas {
    background-color: bisque;
    max-width: none;
}

.charly {
    position: relative;
    width: 400px;


}

.charlyensi {
    display: block;
    width: 500px;
    height: 500px;
    position: relative;
    left: 400px;

}

.charlyoverlay {
    @include perrosoverlay();
    top: 0;
    left: 0;
    width: 125%;
    height: 100%;
    flex-direction: column;
    left: 400px;


}

.charlyoverlay:hover {

    opacity: 1;




}

.juanoverlay:hover {
    opacity: 1;


}

.charlyoverlay>* {
    @include transformoverlay
}

.charlyoverlay:hover>* {
    transform: translateY(0);



}



.titulocharly .titulojuan {
    font-size: 3em;
    font-weight: bold;

}

.charlydesc .juandesc {
    font-size: 1.50em;
    margin-top: 3em;

}

.juan {
    position: relative;
    width: 200px;


}

.juanensi {
    display: block;
    width: $widthandheight* 5;
    height: $widthandheight* 5;
    position: relative;
    left: $widthandheight* 10;
    bottom: $widthandheight* 5;

}

.juanoverlay {
    @include perrosoverlay();
    width: 250%;
    height: 100%;
    flex-direction: column-reverse;
    left: 1000px;
    bottom: 500px;
}

.juanoverlay>* {
    @include transformoverlay()
}

.juanoverlay:hover>* {
    transform: translateY(0);

}

.sobrenosotros {
    width: 100%;
    padding: 78px 0px;

}

.sobrenosotros img {
    height: auto;
    width: $widthandheight* 10;
    height: $widthandheight* 4;

}

.texto {
    width: $widthandheight* 7;
    margin-left: $widthandheight* 0.5;

    h1 {
        color: #ffffff;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: $widthandheight* 0.2;
        background-color: black;
        font-size: $widthandheight* 0.5;

    }

    h5 {
        color: black;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: $widthandheight* 0.8;
        font-size: $widthandheight* 0.7;
        letter-spacing: $widthandheight* 0.02;
    }

    .texto p {
        color: brown;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 20px;
        margin-bottom: 45px;

    }

    .principal {
        width: $widthandheight* 10;
        max-width: 95%;
        margin: 0 auto;
        @include alinear();
        justify-content: space-around;
    }
}




.Contacto {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

form {
    margin: 35px;

}

.espacio {
    width: $widthandheight* 4;
    height: $widthandheight* 0.6;
    margin-top: $widthandheight* 0.8;
    padding-left: $widthandheight* 0.9;
    padding-right: $widthandheight* 0.9;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;

}

.espaciotext {
    height: 150px;
    width: 400px;
    padding-top: 10px;
}

.boton {
    border-radius: 20px;
    color: #fff;
    margin-top: 18;
    padding: 10px;
    background-color: black;
    border: none;
    cursor: pointer;
    position: relative;
    top: 10px;

}

.boton:hover {
    background-color: green;
    color: white;
    transform: scale(1.5);
    transition: 0.35s;

}

i {
    align-items: center;
    position: relative;
    right: 25px;
    top: 53px;
    padding: 0;
}

.footercontacto {
    background-color: beige;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    height: 120px;
    margin-top: 50px;

}

.footergaleria {
    background-color: beige;
    position: absolute;
    width: 100%;
    padding: 5px;
    height: 120px;
    margin-top: 50px;

}

footer p {
    @include alineartexto();
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 30px;


}
.redes {
    text-align: center;
    position: relative;
    bottom: 80px;
    left: 200px;
    padding: 5px;

a i {
    font-size: 30px;
    margin-left: 50px;
    color: black;
    padding: 5px;
}

}
.redes a i:hover {
    transform: scale(1.9);
    margin-left: 50px;
    color: black;
    padding: 5px;
    transition: 0.3s;
}

#wpp:hover {
    color: #25D366;


}

#facebook:hover {
    color: blue;
}

#ig:hover {
    color: #E1306C;
}

.videotitulo {
    text-align: center;
    font-family: letradescargada;

}

.video {
    position: relative;
    left: $widthandheight* 6.7;

}

.textoperros {
    text-align: center;
    display: flexbox;

    font-family: letradescargada;
    font-size: 45px;}

    .descperros {
        text-align: center;
        position: relative;
        top: 20px;
        text-decoration: underline;
    
    }
    
    .comida1 {
        position: relative;
        width: $widthandheight* 3.8;
        top: $widthandheight;
    
    
    }
    
    .comidaunoensi {
        display: block;
        width: 500px;
        height: 500px;
        position: relative;
        left: 400px;
    
    }
    
    .comida1overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 95%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
        left: 440px;
        top: 10px;
        padding-right: 0px;
    
    }
    
    .comida1overlay:hover {
    
        opacity: 1;
    }
    
    .titulocomidauno {
        font-size: 3em;
        font-weight: bold;
    
    }
    
    
    .descripcioncomidauno {
        font-size: 1.50em;
        margin-top: 3em;
        text-align: center;
    }
    
    
    
    .comidados {
        position: relative;
        width: 380px;
        bottom: 400px;
        left: 700px;
    
    
    
    
    }
    
    .comidadosensi {
        display: block;
        width: 500px;
        height: 500px;
        position: relative;
        left: 400px;
    
    }
    
    .comidadosoverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 132%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
        left: 400px;
        top: 1px;
    
    }
    
    .comidadosoverlay:hover {
    
        opacity: 1;
    }
    
    .titulocomidados {
        font-size: 3em;
        font-weight: bold;
        text-align: center;
    
    }
    
    .descripcioncomidados {
        font-size: 1.50em;
        margin-top: 3em;
        text-align: center;
    }
    .promo {
        text-align: center;
        position: relative;
        bottom: 300px;
        font-family: letradescargada;
        color: #ffffff;
        background-color: #ff0055;
    
    
    }
    
    .comidadeadopcion {
        position: absolute;
        top: 1200px;
        width: 2000px;
    
    }
    
    .botonenviar {
        position: relative;
        top: 10px;
    
    }
    
    .notif {
        position: relative;
        top: 30px;
    
    }
    
    @media screen and (max-width: 680px) {
        .redes {
            text-align: center;
            position: relative;
            bottom: 80px;
            left: 17px;
            padding: 5px;
    
        }
    
        footer p {
            text-align: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            position: relative;
            top: 60px;
            left: 10px;
            align-items: center;
            font-family: letradescargada;
        }
    
        .footercontacto {
            width: 800px;
    
    
        }
    
        .footergaleria {
            width: 700px;
    
    
        }
    
    
    
    }
    
    @media screen and (max-width: 991px) {
    
        .notif {
            position: relative;
            left: 100px;
            padding: 20px;
        }
    
        .headertamaño {
            width: fit-content;
        }
    }
    
    @media screen and (max-width: 673px) {
        .headertamañocontenido {
            width: 200px;
    
        }
    
        .headertamaño {
            width: 700px;
    
    
        }
    }
    
    .fotosgrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-auto-rows: minmax(300px, auto);
        gap: 10px;
        padding: 20px;
        grid-auto-flow: dense;
    }
    
    
    .Fotogrid {
        border: solid black;
        font-size: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-size: cover;
        background-position: center;
    
    }
    
    .Fotogrid:hover {
        transition: 1000ms;
        transform: scale(1.1, 1.1);
       
    }
    
    .perrotexto {
        opacity: 0;
    
    }
    .perrotexto:hover{
    opacity: 10;
    transform: scale(1.1, 1.1);
    transition: 1000ms;
    background-color: rgba(0, 0, 0, 0.6);
    color:aquamarine;
    font-family: letradescargada;
    }
    
    
    
    
    
    
    @media (min-width: 600px) {
        .dosespaciosalto {
            grid-row: span 2;
        }
    
        .dosespacioswidth {
            grid-column: span 2;
        }
    }
    
    @media (max-width: 601px) {
        .fotosgrid {
            grid-template-columns: 100%;
    
    
    
        }
    
    }

    .uno {
        background-image: url(./images/juan.jpg);
    
    
    }
    
    .dos {
        background-image: url(./images/istockphoto-639961896-612x612.jpg);
    
    }
    
    .tres {
        background-image: url(./images/1.jpg)
    }
    
    .cuatro {
    
        background-image: url(./images/2.jfif)
    }
    
    .cinco {
        background-image: url(./images/3.jpg)
    }
    
    .seis {
        background-image: url(./images/4.jfif)
    }
    
    .siete {
        background-image: url(./images/5.webp)
    }
    
    .ocho {
        background-image: url(./images/6.jfif)
    }
    
    .nueve {
        background-image: url(./images/7.jfif)
    }
    
    .diez {
        background-image: url(./images/8.jfif)
    }
    
    .once {
        background-image: url(./images/9.jpg)
    }